#App-NoteHub {
  background-color: lightseagreen; color: cornsilk;
  padding: 10px;
  left: 0; top: 0;
  position: absolute;
  width: calc(25% - 20px);
  z-index: 1;
}

#App-NoteName {
  background-color: #f6f6f6;
  width: calc(75% - 20px);
  padding: 10px;
  position: absolute;
  right: 0; top: 0;
  z-index: 1;
}

#App-Functions {
  top: 41px;
  width: 25%; height: calc(100% - 41px);
  padding: 0; margin: 0;
  z-index: 1;
  bottom: 0; left: 0;
  background-color: #f6f6f6;
  position: absolute;
}

.App-Function {
  padding: 10px;
  cursor: pointer;
}

.App-Function:hover[data-header=header] {
  background-color: transparent;
  cursor: default;
}

.App-Function:hover {
  background-color: lightgray;
}

.App-Function[data-selected=selected] {
  background-color: lightgray;
}

#App-NoteBox {
  top: 41px;
  height: calc(100% - 61px); width: calc(75% - 20px);
  padding: 10px; margin: 0;
  position: absolute;
  z-index: 1;
  bottom: 0; right: 0;
}
