#App-NoteHub {
  background: linear-gradient(to right, lightseagreen, #4ddc9b);
  padding: 10px;
  left: 0; top: 0;
  position: absolute;
  z-index: 1;
  font-size: 24px;
}

@media screen and (min-width: 541px) {
  #App-NoteHub { width: calc(25% - 20px); }
}

@media screen and (max-width: 540px) {
  #App-NoteHub { width: calc(35% - 20px); }
}

#App-NoteName {
  background-color: #4ddc9b;
  width: calc(75% - 20px);
  padding: 10px;
  position: absolute;
  right: 0; top: 0;
  z-index: 1;
  font-size: 24px;
}

@media screen and (min-width: 541px) {
  #App-NoteName { width: calc(75% - 20px); }
}

@media screen and (max-width: 540px) {
  #App-NoteName { width: calc(65% - 20px); }
}

#App-InviteCollabs {
  background-color: #f6f6f6;
  position: absolute;
  padding: 10px;
  z-index: 2;
  right: 0; top: 0;
  cursor: pointer;
  font-size: 24px;
}

#App-InviteCollabs:hover {
  background-color: lightgray;
}

#App-Functions {
  top: 52px;
  height: calc(100% - 52px);
  padding: 0; margin: 0;
  z-index: 1;
  bottom: 0; left: 0;
  background-color: #f6f6f6;
  position: absolute;
  overflow-y: scroll;
}

@media screen and (min-width: 541px) {
  #App-Functions { width: 25%; }
}

@media screen and (max-width: 540px) {
  #App-Functions { width: 35%; }
}

.App-Function {
  display: block;
  text-decoration: none;
  padding: 10px;
  width: calc(100% - 20px);
  color: black;
}

.App-Function:hover[data-header=header] {
  background-color: transparent;
  cursor: default;
}

.App-Function:hover {
  background-color: lightgray;
}

.App-Function[data-selected=selected] {
  background-color: lightgray;
}

#App-NoteBox {
  top: 52px;
  height: calc(100% - 110px);
  padding: 10px; margin: 0;
  position: absolute;
  z-index: 1;
  bottom: 0; right: 0;
  overflow-y: scroll;
  background-color: #f7fff4;
}

@media screen and (min-width: 541px) {
  #App-NoteBox { width: calc(75% - 20px); }
}

@media screen and (max-width: 540px) {
  #App-NoteBox { width: calc(65% - 20px); }
}

#App-Formatting {
  bottom: 0; right: 0;
  position: absolute;
  background-color: #d9d9d9;
  padding: 5px;
  z-index: 2;
}

@media screen and (min-width: 541px) {
  #App-Formatting { width: calc(75% - 10px); }
}

@media screen and (max-width: 540px) {
  #App-Formatting { width: calc(65% - 10px); }
}

.App-Format {
  border: 0;
  padding: 5px;
  background-color: transparent;
  font-size: 16px;
}

.App-Format:hover {
  background-color: #b3b3b3;
}

/*Panes*/
.App-Pane {
  padding: 20px;
  display: none;
}

@media screen and (max-width: 940px)  {
  #App-Panes {
    width: 100%; height: 100%;
    top: 0;
    background-color: black; color: white; opacity: 0.9;
    position: fixed; z-index: 4;
    left: 0;
  }

  #App-Panes-Close {
    width: calc(100% - 10px);
  }
}

@media screen and (min-width: 941px)  {
  #App-Panes {
    width: 25%; height: calc(100% - 72px);
    top: 52px;
    background-color: #616161; color: white;
    position: absolute; z-index: 3;
    right: 0;
  }

  #App-Panes-Close {
    width: calc(25% - 10px);
  }
}

#App-Panes {
  display: none;
  overflow-y: scroll;
}

#App-Panes-Close {
  bottom: 0; right: 0;
  position: absolute; z-index: 4;
  padding: 5px;
  background-color: buttonface; color: black;
  display: none;
  cursor: pointer;
}

.Pane-Tooltip {
  position: absolute;
  background-color: white; color: black;
  padding: 7.5px;
  z-index: 4;
  display: none;
  opacity: 0;
  font-size: 0.875em;
}

.Pane-Tooltip-Container {
  position: relative;
  width: 75%; height: 0;
}

/*Apply CSS animation for opacity*/
@keyframes ExposeTooltip {
  from { opacity: 0; }
  to { opacity: 1; }
}
