/*File pickers*/
.FilePicker-Item {
  cursor: pointer;
  padding: 10px;
  color: rgb(1, 152, 255);
}

.FilePicker-TextBox {
  padding: 7.5px;
  font-size: 1em;
  display: block;
  width: calc(100% - 15px); max-width: 100%;
  margin: .25rem auto; margin-top: 5px;
  border: 1px solid #eee; border-bottom: 2px solid #ccc; border-radius: 0;
  outline: none;
}

.FilePicker-TextBox-after {
  display: block;
  width: 100%; height: 2px;
  margin: auto; margin-top: calc(-2px - .25rem);
  transition: transform ease-in-out 300ms;
  transform: scaleX(0);
  background-color: rgb(1, 152, 255);
}

.FilePicker-TextBox:focus + .FilePicker-TextBox-after { transform: scaleX(1); }

.FilePicker-Item:hover {
  background-color: #e3e3e3;
}

.FilePicker-Item-Tags {
  float: right;
  display: block;
}

.FilePicker-Item-Tag {
  position: relative;
  top: -5px;
  margin-left: 5px;
  display: inline-block;
  box-sizing: border-box;
  padding: 4px 8px 4px 8px;
  font-size: inherit; font-weight: 400;
  text-align: center;
  color: #fff; background-color: #317caf;
  border-radius: 3px;
  transition: background-color .3s ease;
}

.FilePicker-HierachyLevel {
  margin-top: 10px;
  font-size: 18px;
  color: white; background-color: rgb(1, 152, 255);
  padding: 10px;
}

/*General*/
body {
  cursor: default;
  font-family: "Questrial", sans-serif;
}

.Modal {
  position: fixed;
  z-index: 11;
  top: 20px; left: 5%; right: 5%;
  background-color: white;
  width: 90%;
  display: none;
}

.Modal-Title {
  color: white; background-color: rgb(1, 152, 255);
  font-size: 26px;
  padding: 10px;
}

.Modal-Content {
  padding: 10px;
  max-height: 275px;
  overflow-y: scroll;
}

.Modal-Footer {
  background-color: rgb(1, 152, 255);
  padding: 10px;
}

.Modal-Button {
  cursor: pointer;
  border: 0; border-radius: 2.5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px;
  background-color: white;
}

#Modal-Overlay {
  position: fixed;
  z-index: 10;
  opacity: 0.9;
  background-color: black; color: white;
  left: 0; top: 0;
  width: calc(100% - 40px); height: calc(100% - 40px);
  padding: 20px;
  text-align: -webkit-center;
  display: none;
}

#BottomPickerBar {
  position: fixed;
  background-color: #616161; color: white;
  z-index: 3;
  display: none;
}

.PickerBarPicker {
  text-align: center;
}

.Picker-Colour {
  cursor: pointer;
  padding: 5px;
  margin-right: 5px; margin-top: 5px; margin-bottom: 5px;
}

.IconBar-Function {
  padding: 6px;
  color: white;
  cursor: pointer;
}
.IconBar-Function:hover { background-color: gray; }

#Modal {
  background-color: black; color: white;
  opacity: 0.9;
  z-index: 100;
  padding: 30px;
  position: fixed;
  display: none;
}

/*Happy Scrollbars :P*/
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em
}
::-webkit-scrollbar-button {
  background: #ccc
}
::-webkit-scrollbar-track-piece {
  background: #888
}
::-webkit-scrollbar-thumb {
  background: #eee
}

#Menu-IconBar::-webkit-scrollbar {
  display: none;
}
#Menu-IconBar::-webkit-scrollbar-button {
  display: none;
}
#Menu-IconBar::-webkit-scrollbar-track-piece {
  display: none;
}
#Menu-IconBar::-webkit-scrollbar-thumb {
  display: none;
}

/*Mobile*/
@media screen and (max-width: 540px) {
  #Modal {
    top: 0; left: 0;
    width: calc(100% - 60px); height: calc(100% - 60px);
  }

  #Header { font-size: 26px; }
  .PickerBarPicker { padding: 5px; }
  .TopBar-Separator { display: none; }

  #BottomPickerBar {
    width: 100%;
    bottom: 0; left: 0;
  }

  #Title {
    width: calc(100% - 47px);
    padding: 0;
    top: 50px;
  }

  #Title-Title { padding: 5px; }
  
  #TopBar {
    width: calc(100% - 52px);
    padding: 2.5px;
    top: 90px; left: 47px;
  }

  #Editor {
    top: 146px;
    height: calc(100% - 166px);
  }
  
  #Menu-IconBar {
    top: 50px;
    height: calc(100% - 50px);
  }
  
  #Menu-IconBar[data-open=closed] { width: 47px; }
  #Menu-IconBar[data-open=open] { width: 100%; }

  @keyframes IconBar-Expand {
    from { width: 47px; }
    to { width: 100%; }
  }

  @keyframes IconBar-Contract {
    0% {
      width: 100%;
      z-index: 3;
    }
    99% {
      z-index: 3;
    }
    100% {
      width: 47px;
      z-index: 0;
    }
  }
}

/*Desktop*/
@media screen and (min-width: 541px) {
  #Modal {
    top: 42.5%; left: 50%;
    width: 700px; height: 300px;
    margin-top: -150px; margin-left: -350px;
  }

  #Header {
    font-size: 30px;
    vertical-align: middle;
  }
  
  .TopBar-Separator {
    position: relative;
    top: 9px;
    border: 1px solid black;
  }
  
  .PickerBarPicker { padding: 10px; }

  #BottomPickerBar {
    width: 540px;
    bottom: 20px; left: calc(50% - 270px);
  }

  #Title {
    width: calc(100% - 47px);
    padding: 0;
    top: 55px;
  }

  #Title-Title { padding: 10px; }

  #Editor {
    top: 101px;
    height: calc(100% - 121px);
  }
  
  #Menu-IconBar {
    top: 55px;
    height: calc(100% - 55px);
  }
  
  #Menu-IconBar[data-open=closed] { width: 47px; }
  #Menu-IconBar[data-open=open] { width: 25%; }

  @keyframes IconBar-Expand {
    from { width: 47px; }
    to { width: 288px; }
  }

  @keyframes IconBar-Contract {
    0% {
      width: 288px;
      z-index: 3;
    }
    99% {
      z-index: 3;
    }
    100% {
      width: 47px;
      z-index: 0;
    }
  }
}

/*Common*/
#Header {
  width: 100%;
  color: white; background-color: rgb(1, 152, 255);
  position: fixed;
  left: 0; top: 0;
  padding: 7.5px;
  z-index: 2;
}

#Title {
  background-color: #d9d9d9;
  position: fixed;
  left: 47px;
  z-index: 2;
}

#Title-Title {
  background-color: transparent;
  width: calc(100% - 15px);
  border: 0;
  font-size: 22px; font-weight: bold;
}

#Editor {
  position: absolute;
  background-color: #f6f6f6;
  padding: 10px;
  left: 47px;
  width: calc(100% - 67px);
  cursor: text;
  overflow: scroll;
}

#Menu-IconBar {
  z-index: 2;
  background-color: black;
  position: fixed;
  left: 0;
  overflow-y: scroll; overflow-x: hidden;
}
  
#Menu-IconBar[data-open=closed] {
  animation-name: IconBar-Contract;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#Menu-IconBar[data-open=open] {
  z-index: 3;
  animation-name: IconBar-Expand;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.FormattingSelect {
   border: 0;
   padding: 5px;
   cursor: pointer;
   position: relative;
   top: 8px;
}

/*Styles for note elements*/
.Note-Section {
  padding: 10px;
  position: relative;
  left: -10px;
  width: 100%;
}

.Note-Section:nth-child(odd) {
  background-color: white;
}
.Note-Section:nth-child(even) {
  background-color: #d0d0d0;
}

/*Editors with no padding*/
#Editor.NoPadding {
  padding: 0;
  width: calc(100% - 47px);
  cursor: default;
  overflow: hidden;

  position: absolute;
  background-color: #f6f6f6;
  left: 47px;
  cursor: text;
}

#Title.Padding {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 541px) { 
  #Editor.NoPadding {
    top: 101px;
    height: calc(100% - 101px);
  }

  #Title.Padding {
    padding: 10px;
    width: calc(100% - 67px);
  }
}

@media screen and (max-width: 540px) {
  #Editor.NoPadding {
    top: 86px;
    height: calc(100% - 86px);
  }

  #Title.Padding {
    padding: 5px;
    width: calc(100% - 57px);
  }
}
