/*General*/
body {
  cursor: default;
  font-family: "Segoe UI", "Helvetica", sans-serif;
}

.PopUpPicker {
  position: absolute;
  background-color: white; color: black;
  padding: 7.5px;
  z-index: 2;
  display: none;
}

.PopUpPicker-Container {
  position: relative;
  display: inline;
  width: 0; height: 0;
}

/*Apply CSS animation for opacity*/
@keyframes ExposeTooltip {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*Mobile*/
@media screen and (max-width: 540px) {
  #Header-Logo { display: none; }
  #Header { font-size: 26px; }

  #Title {
    width: calc(100% - 10px);
    padding: 5px;
    top: 50px;
  }
  
  #TopBar {
    width: calc(100% - 5px);
    padding: 2.5px;
    top: 90px; left: 0;
  }

  #Editor {
    top: 130px;
    height: calc(100% - 150px);
  }
}

/*Desktop*/
@media screen and (min-width: 541px) {
  #Header-Logo {
    height: 32px; width: 32px;
    margin-right: 10px;
  }
  
  #Header {
    font-size: 30px;
    vertical-align: middle;
  }

  #Title {
    width: calc(30% - 20px);
    padding: 10px;
    top: 55px;
  }
  
  #TopBar {
    width: calc(70% - 15px);
    padding: 7.5px;
    top: 55px; left: 30%;
  }

  #Editor {
    top: 105px;
    height: calc(100% - 125px);
  }
}

/*Common*/
#Header {
  width: 100%;
  color: white; background-color: rgb(1, 152, 255);
  position: fixed;
  left: 0; top: 0;
  padding: 7.5px;
  z-index: 2;
}

#Title {
  background-color: #d9d9d9;
  position: fixed;
  left: 0;
  z-index: 2;
}

#Title-Title {
  background-color: transparent;
  padding 7.5px;
  width: calc(100% - 15px);
  border: 1px solid #cdcdcd; border-radius: 3px;
  font-size: 22px; font-weight: bold;
}

#TopBar {
  background-color: #d9d9d9;
  position: fixed;
  z-index: 2;
}

#Editor {
  position: absolute;
  background-color: #f6f6f6;
  padding: 10px;
  left: 0;
  width: calc(100% - 20px);
  cursor: text;
}

.FormattingButton {
  padding: 5px;
  font-size: 18.5px;
  display: inline-block;
  cursor: pointer;
  top: -13px;
  position: relative;
}

.FormattingButton:hover {
  background-color: #cdcdcd;
}

.FormattingSelect {
  border: 0;
  padding: 5px;
  cursor: pointer;
  top: -15px;
  position: relative;
}
