body {
  font-family: "Segoe UI", "Helvetica", "sans-serif";
  cursor: default;
  letter-spacing: 0.5px;
}

#Page-TitleBar {
  background-color: #a05a21; color: white;
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  padding: 10px;
  font-size: 26px;
  z-index: 2;
}

#Page-Contents {
  background-color: palegoldenrod;
  z-index: 1;
  position: absolute;
  top: 55px; left: 0;
  width: calc(100% - 20px);
  padding: 10px;
}

#Page-MenuBar {
  right: 10px; top: 21px;
  position: fixed;
  z-index: 3;
  color: white;
  font-size: 18px;
}

.Page-MenuItem {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 540px) {
  #Page-TitleBar { padding-left: 10px; }
}

@media screen and (min-width: 541px) {
  #Page-TitleBar { padding-left: 50px; }
}

@font-face {
  font-family: monoglyceride;
  src: url(/fonts/monog___.ttf);
}

input {
  padding: 7.5px;
}

input[data-stacked=stacked] {
  margin-top: 5px;
  width: calc(100% - 100px);
}

.link-tile {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
}
