#Page-Organiser-Mobile {
  padding: 7.5px;
}

@media screen and (max-width: 540px) {
  #Page-Organiser-Mobile { display: block; }
  #Page-Organiser-Desktop { display: none; }
}
@media screen and (min-width: 541px) {
  #Page-Organiser-Desktop { display: block; }
  #Page-Organiser-Mobile { display: none; }
}

body {
  font-family: "Segoe UI", "Helvetica", "sans-serif";
  cursor: default;
}

#Page-Contents {
  z-index: 1;
  position: absolute;
  top: 75px; left: 0;
  width: calc(100% - 20px);
  padding: 10px;
}

#Page-Contents-Logbook {
  z-index: 1;
  position: absolute;
  top: 60px; left: 0;
  width: calc(100% - 20px);
  padding: 10px;
}

#Page-MenuBar {
  right: 10px; top: 21px;
  position: fixed;
  z-index: 3;
  color: white;
  font-size: 18px;
}

.Page-MenuItem {
  text-decoration: none;
  color: black;
  padding: 7.5px; padding-left: 15px; padding-right: 15px;
  position: relative;
  bottom: 10px;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 20px; border: 1px solid gray;
}

@media screen and (max-width: 540px) {
  #Page-TitleBar { padding-left: 10px; }
}

@media screen and (min-width: 541px) {
  #Page-TitleBar { padding-left: 0px; }
}

@font-face {
  font-family: monoglyceride;
  src: url(/fonts/monog___.ttf);
}

input {
  padding: 7.5px;
}

input[data-stacked=stacked] {
  margin-top: 5px;
  width: calc(100% - 100px);
}

select {
  padding: 7.5px;
}

select[data-stacked=stacked] {
  margin-top: 5px;
  width: calc(100% - 100px);
}

.link-tile {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
}
