body {
  font-family: "Segoe UI", "Helvetica", sans-serif;
  cursor: default;
}

#Page-Header {
  background-color: lightseagreen; color: cornsilk;
  font-size: 26px;
  padding: 10px;
  left: 0; top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  vertical-align: top;
}

#Page-Content {
  background-color: palegoldenrod; color: black;
  padding: 10px; margin-top: 65px;
  z-index: 1;
}

#Page-Links {
  right: 0; top: 0;
  margin-right: 10px;
  z-index: 3;
  font-size: 20px;
  position: fixed;
  color: white;
}

.Page-Link {
  text-align: middle;
  color: white;
  height: 20px;
  padding: 7.5px;
  text-decoration: none;
}

/*Form Elements*/
button {
  cursor: pointer;
  padding: 7.5px;
  border: 0;
}

button[data-stacked=true] {
  margin-bottom: 5px;
  width: calc(100% - 150px);
}

select {
  padding: 7.5px;
}

select[data-stacked=true] {
  margin-top: 5px;
  width: calc(100% - 100px);
}

input {
  padding: 7.5px;
}

input[data-stacked=true] {
  margin-top: 5px;
  width: calc(100% - 100px);
}

textarea {
  padding: 7.5px;
  resize: none;
}

textarea[data-stacked=true] {
  margin-top: 5px;
  width: calc(100% - 100px);
}
