body {
  font-family: "Segoe UI", sans-serif;
  cursor: default;
}

#Page-Header {
  background-color: khaki; color: white;
  font-size: 26px; font-weight: bold;
  padding: 10px;
  left: 0; top: 0;
  position: fixed;
  width: 100%;
}
