<configuration>
    <system.web>
        <customErrors mode="On" defaultRedirect="500.html">
            <error statusCode="404" redirect="404.html" />
            <error statusCode="500" redirect="500.html" />
        </customErrors>
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <httpErrors errorMode="Custom">
            <error statusCode="500" path="/500.html" responseMode="ExecuteURL" prefixLanguageFilePath=""/>
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" prefixLanguageFilePath=""/>
        </httpErrors>
    </system.webServer>
</configuration>