<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <customErrors mode="On">
            <error statusCode="500" redirect="500.html" />
            <error statusCode="404" redirect="404.html" />
        </customErrors>
    </system.webServer>
</configuration>